<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<!--

		<context:component-scan base-package="test.spring.testbean" />
		<context:component-scan base-package="test.spring.writer" />
	-->
	<bean id="writer" class="test.spring.writer.NiceWriter" />
	<bean id="dataProcessor" class="uk.ac.kcl.cerch.bril.workflow.CrystallographyDataProcessor" />
	
	<!--<bean id="dataProcessor" class="uk.ac.kcl.cerch.bril.workflow.NanoimagingDataProcessor" />

	-->
	<bean id="mySpringBeanWithDependency" class="test.spring.testbean.MySpringBeanWithDependency">
		<property name="writer" ref="writer" />
	</bean>
	
	<bean id="experimentTypeDependency" class="uk.ac.kcl.cerch.bril.workflow.ExperimentDependencyInjection">
		<property name="dataProcessor" ref="dataProcessor" />
	</bean>
	


</beans>
	