<!-- 
  Modified by Eric Liao 2011
  Contact: the.eric.liao@gmail.com
-->

{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

{% if user.is_staff %}
<script src="{{ STATIC_URL }}jquery/jquery-1.6.2.min.js"></script>
<script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.15.custom.min.js"></script>
<script src="{{ STATIC_URL }}jquery/jquery.mousewheel.min.js"></script>
<script src="{{ STATIC_URL }}springy/springy.js"></script>
<script src="{{ STATIC_URL }}openlayers/OpenLayers.js"></script>
<script src="{{ STATIC_URL }}openlayers/graphLayer.js"></script>
<script src="{{ STATIC_URL }}contextMenu/jquery.ui.position.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}contextMenu/jquery.contextMenu.js" type="text/javascript"></script>
<link href="{{ STATIC_URL }}contextMenu/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.15.custom.css" rel="stylesheet" type="text/css" />

<script>
var graph = new Graph();

function filter(key, opt) {
  if (opt != null) {
	  var filter_key;
	  switch (key)
	  {
		  case "all_process":
			  filter_key = "square";
			  break;
		  case "all_objects":
			  filter_key = "circle";
			  break;
		  case "all_controllers":
			  filter_key = "hexagon";
			  break;			
		  default:
			  filter_key = key;
			  break;
	  }
	  if (jQuery.data(opt, key) == null) {
	    var filtered_nodes = key + "_nodes";
	    jQuery.data(opt, filtered_nodes, graph.filterNodes(filter_key));
		  jQuery.data(opt, key, true);		  
	  }
	  else {
		  var filtered_nodes = key + "_nodes";
		  graph.merge(jQuery.data(opt, filtered_nodes));
		  jQuery.data(opt, key, null);		
	  }		
	}
}

function filter_relationships(key, opt) {
  if (opt != null) {
	  if (jQuery.data(opt, key) == null) {	
	    var filtered_relations = key + "_edges";	
		  jQuery.data(opt, filtered_relations, graph.filterEdges(key));
		  jQuery.data(opt, key, true);
	  }
	  else {
		  var filtered_relations = key + "_edges";	
		  graph.mergeEdges(jQuery.data(opt, filtered_relations));
		  jQuery.data(opt, key, null);
	  }
	}		
}

$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});

</script>
{% endif %}

<script>
	$(function() {
	
	  var $tab_title_input = $("#tab_title"),
		$tab_content_input = $("#tab_content");
    var tab_counter = 3;
		
		$("#unique_tab_id").html("Relationship Explorer");
		
		var $tabs = $( "#tabs" ).tabs();		 
		
		function loadTab(expId, expTitle) {
			var new_canvas = "<canvas id='explorer'/" + "></canvas>";
			$( "#tabs-3" ).html("");
			
			$( "#tabs-3" ).append( "<div class='container'><p class='left'><font size='4'><b>Experiment: " + expTitle + "</b></font>&nbsp;&nbsp;&nbsp;&nbsp;" + 
			                       "<button id='back_exp'>Back to Experiments</button><button id='reload'>Reload Relationships</button><button id='savePNG'>Save as PNG</button></p>" +
			                       "<p class='right'><button id='legend'>Legend</button><button id='help'>Help</button></p></div>" );

      var div_width = window.innerWidth - 100;
			var div_height = window.innerHeight - 250;						                       
			var pos_left = div_width/2 - 50;
			var pos_top = div_height/2;
			
			$( "#tabs-3" ).append( "<div id='loader2' class='loader2-invisible'><img style='position: absolute; left: "+pos_left+"px; top: "+pos_top+"px;'" + 
			                       "src='{{ STATIC_URL }}jquery/ajax-loader.gif' alt='Loading'></div>" );                       			
			$( "#tabs-3" ).append("<div id='map' style='height:" + div_height + "px; width:" + div_width + "px'></div>");
			$( "#tabs-3" ).append( new_canvas );
			$tabs.tabs('select', '#tabs-3');
			
			var canvas_path = "#tabs #tabs-3 #explorer";
			
			// Add OpenLayer for navigation			
			var EPSG4326 = new OpenLayers.Projection("EPSG:4326");
      var EPSG900913 = new OpenLayers.Projection("EPSG:900913");
      var b = 20037508.34;       
      var map = new OpenLayers.Map('map', {
          controls: [
              new OpenLayers.Control.Navigation(),
              new OpenLayers.Control.PanZoomBar(),
          ],
       		maxExtent: new OpenLayers.Bounds(-1*b, -1*b, b, b),
		      maxResolution: 156543.0399,				      
		      units: 'm',
		      projection: EPSG900913,
		      displayProjection: EPSG4326,
		      numZoomLevels: 5,
      });                            		
			
			var graphLayer = new NodeGraph.Layer("NodeGraph", {'graph':graph, 'canvas':$(canvas_path), 'render_map':map});
      var nobase = new OpenLayers.Layer("No Basemap",{isBaseLayer: true, 'displayInLayerSwitcher': true});
      map.addLayers([graphLayer, nobase]);			
      var initialZoom = 0;
      map.zoomTo(initialZoom);          
			
			// Load relationship data from Fedora
      var url = "http://localhost:8000/repo/experiments/" + expId + "/relationships/";
      $('#loader2').removeClass('loader2-invisible');
      $('#loader2').addClass('loader2-visible');      
      $.getJSON(url, function(data) {
          $('#loader2').addClass('loader2-invisible');
          $('#loader2').removeClass('loader2-visible');
          graph.loadData(data);	          
      });

			$("#unique_tab_id").html("Relationship Explorer: " + expTitle);
				
			/**************************************************
      * Menu for filtering display
      **************************************************/		 
      
      // use a django template to fill this in automatically?      
      $.contextMenu({
          // define which elements trigger this menu
          selector: "#explorer",
          // define the elements of the menu
          items: {	    	    	
            	all_process: {name: "Filter Processes", type:'checkbox', callback: filter},
            	sep1: "---------",
                all_objects: {name: "Filter Objects",  type:'checkbox', callback: filter},
                sep2: "---------",
                all_controllers: {name: "Filter Controllers", type:'checkbox', callback: filter},
	          sep3: "---------",
	          relationships_menu: {
		          name: "Filter Relationships",				
		          items: {
			          all_relationships: {name: "All",  type:'checkbox', callback: filter_relationships},
			          isMemberOf: {name: "isMemberOf",  type:'checkbox', callback: filter_relationships},
			          used: {name: "used",  type:'checkbox', callback: filter_relationships},
			          wasGeneratedBy: {name: "wasGeneratedBy",  type:'checkbox', callback: filter_relationships},
			          wasDerivedFrom: {name: "wasDerivedFrom",  type:'checkbox', callback: filter_relationships},
			          wasControlledBy: {name: "wasControlledBy",  type:'checkbox', callback: filter_relationships},
			          wasTriggeredBy: {name: "wasTriggeredBy",  type:'checkbox', callback: filter_relationships}
		          }
	          },	        	       
          },
          events: {
	        show: function(opt) {					
		        $.each(opt.inputs, function(key, item) {					
			        item.selected = jQuery.data(opt, key) ? true : null;										
		        });				
	        }
        }
      });        
      
      $( "#savePNG" )
			.button()
			.click(function() {
			    var save_canvas = document.getElementById("explorer");
          var img    = save_canvas.toDataURL("image/png");        
          var url = "http://localhost:8000/repo/experiments/" + expId + "/savePNG/"
          var download_url = "http://localhost:8000/repo/experiments/" + expId + "/getPNG/"          
          $.post(url, {data: img}, function () {
              window.location.href =  download_url});        
      });
      
      $( "#reload" )
			.button()
			.click(function() {
	        var url = "http://localhost:8000/repo/experiments/" + expId + "/relationships/";
	        $('#loader2').removeClass('loader2-invisible');
          $('#loader2').addClass('loader2-visible');
	        $.getJSON(url, function(data) {
	          $('#loader2').addClass('loader2-invisible');
            $('#loader2').removeClass('loader2-visible');
	          graph.clearGraph();
	          graph.loadData(data);	          
	        });	        
			});
      
      $( "#back_exp" )
			.button()
			.click(function() {
          $("#unique_tab_id").html("Relationship Explorer");
          $( "#tabs-3" ).html("<h2 id='note'>Please select an experiment to view it's relationships.</h2>");
          $("#dialog").dialog('close');
          $tabs.tabs('select', '#tabs-2');
			});
			
			$( "#help" )
			.button()
			.click(function() {
          $("#help-dialog").dialog('close');
          $("#help-dialog").dialog({
            title: "Help", 
            height: 500, 
            width: 300,
            position: [window.innerWidth - 350, 175]
        })
			});
			
			$( "#legend" )
			.button()
			.click(function() {
			    $("#legend-dialog").dialog('close');
          $("#legend-dialog").dialog({
            title: "Legend", 
            height: 400, 
            width: 325,
            position: [window.innerWidth - 690, 175]
        })
			});      
		}    
 
		$( "#add_tab_1" )
			.button()
			.click(function() {
				loadTab($( "#add_tab_1" ).attr("value"), "IgyFc34");				
			});
		
	  $( "#add_tab_2" )
			.button()
			.click(function() {
				loadTab($( "#add_tab_2" ).attr("value"), "baa5d5");
			});		
		
		$( "#genAggregation_1" )
			.button()
			.click(function() {
				var url = "http://localhost:8000/repo/experiments/" + $( "#add_tab_1" ).attr("value") + "/ORE/";
	      $.get(url, function() {
	          $( "#ORE-dialog" ).dialog({
			        modal: true,
			        buttons: {
				        Ok: function() {
					        $( this ).dialog( "close" );
				        }
			        }
		        });
	        });
			});

		$( "#genAggregation_2" )
			.button()
			.click(function() {
				var url = "http://localhost:8000/repo/experiments/" + $( "#add_tab_2" ).attr("value") + "/ORE/";
	      $.get(url, function() {
	          $( "#ORE-dialog" ).dialog({
			        modal: true,
			        buttons: {
				        Ok: function() {
					        $( this ).dialog( "close" );
				        }
			        }
		        });
	        });
			});							
	});
</script>

<div id="ORE-dialog" title="OAI-ORE Aggregation" style="display:none;">
  <p>
		<span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
		The OAI-ORE Aggregation for the experiment has been generated.
	</p>
</div>

<div id="details-dialog" style="width:600px;overflow:auto">
  <div id="loader" class="loader" style="display:none;">
	    <img class="img-loader" src="{{ STATIC_URL }}jquery/ajax-loader.gif" alt="Loading"/>
	</div>
  <div id="msg"></div>
</div>

<div id="viewer-dialog" style="width:600px;overflow:auto">
  <div id="viewer"></div>
</div>

<div id="help-dialog" style="display:none;">
  <h2>Interacting with this demo:</h2>  
  <hr/>
  <h4>Selecting Nodes</h4>
  <p>Click on a node to highlight it and display a dialog box.</p>
  <hr/>
  <h4>Dragging Nodes</h4>
  <p>Click and drag a node to drag it around.</p>
  <hr/>
  <h4>Context Menu</h4>
  <p>Right click on the background for a menu to filter the displaying of nodes and relationships.</p>
  <hr/>
  <h4>Panning</h4>
  <p>Use the navigation controls or click and drag on the background to scroll around.</p>
  <hr/>
  <h4>Zooming In and Out</h4>
  <p>Use the navigation controls or scroll the mouse wheel to zoom in/out.</p>  
</div>

<div id="legend-dialog" style="display:none;">
  <h2>Open Provenance Model Vocabulary (OPM-V) Notation</h2>
  <br/>
  <table>
    <tr>
      <td><b>Circle</b></td>
      <td>Artifact is a general concept that represents immutable piece of state, which may have a physical embodiment in a physical object, or a digital representation in a computer system.</td>
    </tr>
    <tr class="alt">
      <td><b>Square</b></td>
      <td>Process refers to an action or series of actions performed on or caused by artifacts, and resulting in new artifacts.</td>    
    </tr>
    <tr>
      <td><b>Hexagon</b></td>
      <td>Agent is a contextual entity acting as a catalyst of a process, enabling, facilitating, controlling, or affecting its execution.</td>
    </tr>
    <tr class="alt">
      <td><b>Arrow</b></td>
      <td>Object properties describe relationship between artifacts and processes and agents. These can include: wasDerivedFrom, wasControlledBy, wasGeneratedBy, used</td>
    </tr>
  </table>
  <br/>
  <p style="font-size:x-small">For a detailed description of OPM-V, please see the <a href="http://open-biomed.sourceforge.net/opmv/ns.html">OPM-V webpage</a>.</p>
</div>

<div id="tabs">
	<ul>
	  {% if user.is_superuser %}
		  <li><a href="#tabs-1">Admin</a></li>
		{% endif %} 
		  <li><a href="#tabs-2">Experiment Browser</a></li>  
		  <li><a href="#tabs-3"><span id='unique_tab_id'></a></li>
	</ul>
	{% if user.is_superuser %}
	<div id="tabs-1" class="ui-helper-clearfix">
              
        <div id="content-main">
        {% if app_list %}
            {% for app in app_list %}
                <div class="module">
                <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
                <caption><a href="{{ app.app_url }}" class="section">{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</a></caption>
                {% for model in app.models %}
                    <tr>
                    {% if model.perms.change %}
                        <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                    {% else %}
                        <th scope="row">{{ model.name }}</th>
                    {% endif %}

                    {% if model.perms.add %}
                        <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}

                    {% if model.perms.change %}
                        <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </table>
                </div>
            {% endfor %}
        {% endif %}
        </div>
        
        {% block sidebar %}
        <div id="content-related">
            <div class="module" id="recent-actions-module">
                <h2>{% trans 'Recent Actions' %}</h2>
                <h3>{% trans 'My Actions' %}</h3>
                {% load log %}
                {% get_admin_log 10 as admin_log for_user user %}
                {% if not admin_log %}
                <p>{% trans 'None available' %}</p>
                {% else %}
                <ul class="actionlist">
                {% for entry in admin_log %}
                <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                    {% if entry.is_deletion or not entry.get_admin_url %}
                        {{ entry.object_repr }}
                    {% else %}
                        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                    {% endif %}
                    <br/>
                    {% if entry.content_type %}
                        <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                    {% else %}
                        <span class="mini quiet">{% trans 'Unknown content' %}</span>
                    {% endif %}
                </li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        {% endblock %}        
	</div>
	<div id="tabs-2" class="ui-helper-clearfix">
		  <h2>Manage Experiments</h2>
		  <br/>
      <table>
		    <tr class="alt">
  		    <th>IgyFc34</th>
		    </tr>
		    <tr>
		      <td>
            <button id="add_tab_1" value="bril:exp-5774e47e-2b23-4ae4-a6f9-ebcaee69c005" style="width: 300px;padding-top: 10px;padding-bottom: 10px;">Explore Relationships</button>
            <button id="genAggregation_1" value="bril:exp-5774e47e-2b23-4ae4-a6f9-ebcaee69c005" style="width: 300px;padding-top: 10px;padding-bottom: 10px;">Generate Aggregation</button>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr class="alt">
		      <th>baa5d5</th>
		    </tr>
        <tr>
          <td>
            <button id="add_tab_2" value="bril:exp-87ac3d68-eb0b-4bff-9ab7-b8fbddf2a49d"style="width: 300px;padding-top: 10px;padding-bottom: 10px;">Explore Relationships</button>
            <button id="genAggregation_2" value="bril:exp-87ac3d68-eb0b-4bff-9ab7-b8fbddf2a49d"style="width: 300px;padding-top: 10px;padding-bottom: 10px;">Generate Aggregation</button>
          </td>
        </tr>
      </table>  
	</div>
	<div id="tabs-3" class="ui-helper-clearfix">	
	    <h2 id="note">Please select an experiment to view it's relationships.</h2>
	</div>
	{% else %}
	<div id="tabs-2" class="ui-helper-clearfix">
	    <h2>Manage Experiments</h2>
	    <br/>
      <table>
		    <tr class="alt">
		      <th>IgyFc34</th>
		    </tr>
		    <tr>
		      <td>
            <button id="add_tab_1" value="bril:exp-5774e47e-2b23-4ae4-a6f9-ebcaee69c005" style="width: 300px;padding-top: 10px;padding-bottom: 10px;">Explore Relationships</button>
            <button id="genAggregation_1" value="bril:exp-5774e47e-2b23-4ae4-a6f9-ebcaee69c005" style="width: 300px;padding-top: 10px;padding-bottom: 10px;">Generate Aggregation</button>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr class="alt">
    		  <th>baa5d5</th>
		    </tr>
        <tr>
          <td>
            <button id="add_tab_2" value="bril:exp-87ac3d68-eb0b-4bff-9ab7-b8fbddf2a49d"style="width: 300px;padding-top: 10px;padding-bottom: 10px;">Explore Relationships</button>
            <button id="genAggregation_2" value="bril:exp-87ac3d68-eb0b-4bff-9ab7-b8fbddf2a49d"style="width: 300px;padding-top: 10px;padding-bottom: 10px;">Generate Aggregation</button>
          </td>
        </tr>
      </table>  
	</div>
	<div id="tabs-3" class="ui-helper-clearfix">
	<h2 id="note">Please select an experiment to view it's relationships.</h2>
	</div>
	{% endif %}
</div>
{% endblock %}
